{
  "permissions": {
    "allow": [
      "Bash(bun:*)",
      "WebFetch(domain:localhost)",
      "Bash(git pull:*)",
      "Bash(mv:*)",
      "Bash(mkdir:*)",
      "Bash(rm:*)",
      "Bash(curl:*)",
      "Bash(cat:*)",
      "Bash(pkill:*)",
      "Bash(true)",
      "Bash(lsof:*)"
    ],
    "deny": [],
    "ask": [],
    "defaultMode": "acceptEdits"
  }
}
